.todaydetail-container{
    display:flex;
    gap:3rem;
}

.todaydetail-item{
    display: flex;            /* flex */
    flex-direction: column;   /* flex-col */
    justify-content: space-between; /* justify-between */
    align-items: center;      /* items-center */
    gap: 0.5rem;              /* gap-2 */
    font-size: 0.75rem;       /* text-xs */
    font-weight: 600;         /* font-semibold */
    color: rgba(0, 0, 0, 0.8); /* text-black/80 */
}

.todaydetail-info-text{
    white-space: nowrap;
}

.todaydetail-icon-size{
    font-size:1.875rem;
}
